<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<title>VG Software - Admin</title>
		<base href="$text.baseurl"/>
		<script type="text/javascript" src="$text.vgscript"></script>
		<link rel="stylesheet" href="$text.basestyle" type="text/css"/>
	</head>
	<body>
		#parse("include/content/header.html")
		<!-- end masthead -->
		<div id="content">
			<h2 id="pageName">Admin</h2>
			<div class="story">
				<h3>Member Edit</h3>
				<p>
					<form action="${text.baseurl}admin/memberedit.do" method="post">
						<input type="hidden" name="whattodo" value="save"/>
						<input type="hidden" name="member_id" value="${member.userId}"/>
						<table>
							<tr>
								<td>
									Username:
								</td>
								<td colspan="2">
									<input type="text" name="username" value="${member.username}"/>
								</td>
							</tr>
							<tr>
								<td>
									Email:
								</td>
								<td colspan="2">
									<input type="text" name="email" value="${member.email}"/>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<input type="submit" value="Save"/>
								</td>
							</tr>
						</table>
					</form>
					<form action="${text.baseurl}admin/memberedit.do" method="post">
						<input type="hidden" name="whattodo" value="removeservice"/>
						<input type="hidden" name="member_id" value="${member.userId}"/>
						<table>
							<tr>
								<td>
									Current Services:
								</td>
								<td>
									<select name="service">
										#foreach($item in $member_service)
											<option value="${item.id}">${item.name}</option>
										#end
									</select>
								</td>
								<td>
									<input type="submit" value="Remove"/>
								</td>
							</tr>
						</table>
					</form>
					<form action="${text.baseurl}admin/memberedit.do" method="post">
						<input type="hidden" name="whattodo" value="addservice"/>
						<input type="hidden" name="member_id" value="${member.userId}"/>
						<table>
							<tr>
								<td>
									Services:
								</td>
								<td>
									<select name="service">
										#foreach($item in $service)
											<option value="${item.id}">${item.name}</option>
										#end
									</select>
								</td>
								<td>
									<input type="submit" value="Add"/>
								</td>
							</tr>
						</table>
					</form>
				</p>
			</div>
		</div> 
		<!--end content --> 
		<div id="navBar"> 
			#parse("include/content/menu/admin.html")
			#parse("include/content/menu/member.html") 
		</div>
	</body>
</html>